.detail {
  &_back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: $font-hand;
    color: $darkmauve;
    text-decoration: none;
    font-size: 22px;
    margin-top: 30px;
    font-weight: 700;
    &:hover {
      color: $mauve;
      translate: -5px 0;
      transition: 0.2s ease all;
    }
  }
  &_errormsg {
    font-family: $font-text;
    color: $mauve;
    text-align: center;
    font-size: 26px;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
  }
}

.bar {
  height: 1px;
  width: 100%;
  background-color: $lightmauve;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $purewhite;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  width: 80vw;
  margin: auto;
  box-shadow: 2px 2px 5px $mauve;
  &_image {
    height: 300px;
    align-self: center;
    object-fit: cover;
    width: 300px;
  }
  &_title {
    font-family: $font-hand;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }
  &_data {
    list-style: none;
    font-family: $font-text;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & .datatitle {
      font-weight: 600;
      color: $darkmauve;
      font-size: 16px;
    }
  }
}

.errormsg {
  font-family: $font-text;
  color: $mauve;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.detail_alien {
  width: 30px;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .detail {
    &_back {
      font-size: 26px;
    }
    &_errormsg {
      font-size: 30px;
      margin-top: 120px;
    }
  }

  .card {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 700px;
    margin-top: 40px;
    gap: 50px;
    &_title {
      font-size: 26px;
      margin-bottom: 20px;
    }
    &_data {
      font-size: 14px;
      & .datatitle {
        font-size: 16px;
      }
    }
  }
}
