.detail {
  &_back {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: $font-hand;
    color: $darkmauve;
    text-decoration: none;
    font-size: 22px;
    margin-top: 30px;
    &:hover {
      color: $mauve;
    }
  }
  &_errormsg {
    font-family: $font-text;
    color: $mauve;
    text-align: center;
    font-size: 26px;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $lightgrey;
  border: 3px solid $mauve;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  margin: auto;
  &_image {
    height: 250px;
    align-self: center;
  }
  &_title {
    font-family: $font-hand;
    font-size: 24px;
    text-align: center;
  }
  &_data {
    list-style: none;
    font-family: $font-text;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & .datatitle {
      font-weight: 600;
      color: $darkmauve;
      font-size: 26px;
    }
  }
}

.errormsg {
  font-family: $font-text;
  color: $mauve;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.detail_alien {
  width: 30px;
  vertical-align: top;
}

@media screen and (min-width: 768px) {
  .detail {
    &_back {
      font-size: 26px;
    }
    &_errormsg {
      font-size: 30px;
      margin-top: 120px;
    }
  }

  .card {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 700px;
    margin-top: 40px;
    &_image {
      height: 275px;
    }
    &_title {
      font-size: 26px;
      margin-bottom: 20px;
    }
    &_data {
      font-size: 26px;
      & .datatitle {
        font-size: 28px;
      }
    }
  }

  .errormsg {
    font-size: 24px;
    margin-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .detail {
    &_back {
      font-size: 26px;
    }
    &_errormsg {
      font-size: 24px;
      margin-top: 120px;
    }
  }

  .card {
    padding: 30px;
    width: 850px;
    &_image {
      height: 300px;
    }
    &_title {
      font-size: 22px;
    }
    &_data {
      font-size: 16px;
      & .datatitle {
        font-size: 18px;
      }
    }
  }

  .errormsg {
    font-size: 36px;
    margin-top: 120px;
  }
}
