.charlist {
  padding: 0 20px;
  font-family: $font-hand;
  &_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
  }
  &_card {
    background-color: $purewhite;
    border-radius: 8px;
    width: 210px;
    margin: 12px;
    height: 275px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    &-img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      object-fit: contain;
    }
    &-name {
      font-size: 16px;
      color: $darkgrey;
      font-weight: 500;
    }
    &-species {
      font-family: $font-text;
      font-size: 14px;
      color: $darkgrey;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }
  &_error {
    font-family: $font-text;
    color: $darkmauve;
    font-size: 24px;
    margin: 25px 0 0 35px;
  }
}

.charlist_card:hover {
  translate: 0 -5px;
  transition: 0.2s ease all;
}
