$font-hand: 'Gloria Hallelujah', cursive;
$font-text: 'Nanum Pen Script', cursive;

$slimegreen: #B2DF28;
$blue: #00B5CC;
$darkblue: #00353E;
$black: #010001;
$darkgrey: rgb(65, 65, 65);
$lightgrey: rgb(161, 161, 161);