$font-hand: 'Mulish';
$font-text: 'Mulish';

$lightmauve: #d3b1c2;
$softmauve: #c197d2;
$mauve: #613659;
$darkmauve: #211522;
$darkgrey: rgb(65, 65, 65);
$lightgrey: rgb(161, 161, 161);
$white: #f0f0f0;
$purewhite: #fff;
$darkwhite: #d3c3cc;
