@import 'core/reset';
@import 'core/var';

@import 'layout/header';
@import 'layout/characterlist';
@import 'layout/characterdetail';

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  background-color: $white;
  height: 100%;
}

.page {
  max-width: 1600px;
  margin: auto;
}
