body {
  background-image: url(../images/main_bg_img.jpg);
  background-repeat: repeat;
}

.page_body-main {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &-chars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}
