.footer {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg;
  box-shadow: 0 1px 5px 0 $color-secondary, 0 1px 3px 0 $color-secondary;

  padding-left: 20px;
  padding-right: 20px;
  color: rgb(71, 71, 71);
  bottom: 0;
  position: fixed;
  width: 100%;

  &_msg {
    font-style: italic;
  }
}
