.favorites-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(157, 109, 235, 0.5);
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 $color-secondary, 0 1px 3px 0 $color-secondary;
  margin-left: 40px;
  padding-top: 10px;

  h3 {
    margin: auto;
    font-family: $font-main;
    color: rgb(44, 23, 78);
  }
}

.favorites_list {
  padding: 15px 10px 10px 10px;
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
  height: 100%;
}

.favorites_list > li {
  background-color: rgb(85, 48, 143);
  color: azure;

  &:hover {
    background-color: aliceblue;
    color: rgb(85, 48, 143);
  }
}

.collapsed {
  display: none;
}

.clear-btn {
  height: 30px;
  background-color: aliceblue;
  border-radius: 20px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: $font-main;
  font-size: 14px;
  border: 2px solid grey;
  cursor: pointer;
  margin-bottom: -15px;

  &:hover {
    background-color: grey;
    color: aliceblue;
    border: 2px solid aliceblue;
    transition: 0.5s;
  }
}
